nav {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;           /* space between links */
  padding: 0.5rem;
}
nav a {
  text-decoration: none;
  cursor: pointer;
}